.new-inetarction{


    display: flex;
    width: 80%;
    height: 50%;
    margin-top: -60px;



 
}
.new-inetarction7{


justify-content: center;
 
   width: 60%;
 
scale: 1;
margin-left: 20%;



 
}